body{
    background: #162B32;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}


#app{
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 50%;
    height:100vh;
    color: #eee;
    justify-content: center;
    grid-gap: 2em;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.holder{
    display: grid;
    border-radius: 8px;
}


.entry{
    background: #E1FCFD;
    font-size: 1.1em;
    text-align: center;
    color: #4A5FC1;
    height: fit-content;
}


img {
    display: block;
    height: 60%;
    width: 60%;
}


.headline {
    grid-template-rows: 50% 50%;
    font-size: 2em;
    text-align: center;
}


input, select{
    display:grid;
    height: 60px;
    width: 80%;
    background:#E1FCFD;
    color: rgba($color: #0C1115, $alpha: 0.7);
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 8px;

}


#field {
    grid-template-rows: 70%;
    justify-content: center;
}


.title {
    text-align: center;
    font-size: 1.2em;
    color: #0C1115;
}


button, #info-button{
    background: #9CF6FB;
    color: #0C1115;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}


#info-button {
    display: inline;
    background-color: inherit;
    padding: 0.2em;
    font-size: 0.9em;
    color: #eee;
    text-decoration: none;
}

@media only screen and (min-width: 900px){
    #field {
        grid-template-columns: 30% 30%;
        justify-content: center;
        grid-gap: 1.5em;
    }

    .headline {
        grid-template-columns: 60% 40%;
    }

    input, select{
        display:grid;
        height: 60px;
        width: auto;
    }

    button, #info-button {
        padding: 16px;
        font-size: 2.2rem;
    }

    #info-button {
        display: inline-block;
        text-align: right;
        padding-top: 1.3rem;
    }

        
    .entry{
        background: #E1FCFD;
        font-size: 1.5em;
        text-align: center;
        color: #4A5FC1;
        height: fit-content;
    }


    img {
        display: block;
        height: 80%;
        width: auto;
    }


    .title {
        text-align: center;
        font-size: 1.4em;
        color: #0C1115;
    }
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:grid;
    font-size: 1.5em;
}


#entryHolder{
    text-align: left;
    padding: 8px;
    height: fit-content;
    width: fit-content;
}


span {
    font-weight: 500;
    color: #333;
}


img {
    border-radius: 8px;
}


.error {
    color: red;

}


h1{
    font-size: 36px;
    font-weight: 600;
    text-align: left;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/
::placeholder, option[label] { /* Firefox, Chrome, Opera */ 
    color: rgba($color: #0C1115, $alpha: 0.7); 
    // font-family: 'Oswald', sans-serif;

} 
  

:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #0C1115; 
    opacity: 0.3;
    font-family: 'Oswald', sans-serif;

} 
  

::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #0C1115;
    opacity: 0.3; 
    font-family: 'Oswald', sans-serif;

} 